.p-datatable {
  min-width: 1330px;
}

.productsTable .productsTableImage img {
  width: 50px;
  height: 50px;
}

.productsTable .productsTableDescription {
  min-width: 400px;
}

.textEditor {
  min-width: 200px;
}

.longTextEditor {
  min-width: 400px;
}

.numberEditor {
  max-width: 80px;
}

.newProduct {
  margin-bottom: 20px;
}

.dialogForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ProductsTableHeader {
  width: 100%;
  display: flex;
  justify-content: right;
}

.dialogFormRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.dialogFormRow .p-inputtext {
  width: 500px;
}

.dialogFormRow .p-inputtextarea {
  height: 150px;
}
