.p-card {
  background-color: #fff;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.p-card-img {
  display: flex;
  justify-content: center;
}

.p-img {
  border-radius: 10px;
  height: 200px;
  width: 200px;
  margin-top: 20px;
}

.p-card-info {
  padding-left: 0.5rem;
  color: #000;
}

.p-name {
  margin-bottom: -1rem;
}