.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  max-width: 1000px;
  min-width: 1000px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

.header .logo .link-header {
  text-decoration: none;
}

.header .logo .logo-style {
  width: 65px;
  height: 65px;
}

.header .logo .titulo {
  color: #000;
  font-size: 2rem;
  margin-left: 70px;
  margin-top: -58px;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-items * {
  margin-left: 30px;
  cursor: pointer;
}

.menu-items .link {
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-top: -1px;
}

.p-sidebar h2 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.p-sidebar p {
  font-size: 16px;
  font-weight: 400;
  color: #535353;
  margin-top: -10px;
}

.total {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  background: #000;
  padding: 0.5px 5.5px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: -56px;
  z-index: 1;
}

.dashboardButton * {
  margin: 0;
  padding: 0;
}
