.Login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.Login-container input {
    width: 300px;
    margin-bottom: 10px;
}

.Login-container button {
    width: 300px;
    margin-bottom: 10px;
}
